[Desktop Entry]
Type=Application
Version=1.0
Name=Bugdom
Comment=Save Bugdom from Thorax's evil Fire Ants
Icon=bugdom-desktopicon
Exec=Bugdom
Terminal=false
Categories=Game;
