[Desktop Entry]
Type=Application
Version=1.0
Name=Bugdom
Comment=Save Bugdom from Thorax's evil Fire Ants
Comment[fr]=Libérez le Royaume des Petites Bêtes des maléfiques fourmis de feu
Icon=io.jor.bugdom
Exec=Bugdom
Terminal=false
Categories=Game;
